@import "../utils/variables";

.contact {
  .link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    color: $secondary-text-color;

    transition: color 250ms $cubic-bezier;

    &:hover,
    &:focus {
      color: $accent-color;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &-icon {
      fill: currentColor;
      margin-right: 8px;
    }
  }
  .item {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 60px;
    }
  }

  @media screen and(min-width:768px) {
    .item {
      display: block;
      margin-left: 84px;
      margin-top: 21px;
      margin-bottom: 10px;
    }
    .item:last-child {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}
