@import "../utils/variables";

.footer {
  text-align: center;
  background-color: $footer-color;

  .logo {
    display: inline-block;

    margin-top: 60px;
    margin-bottom: 20px;
    padding: 0px;

    transition: color 250ms $cubic-bezier;

    color: $background-color;
    &:focus {
      color: $accent-color;
    }
  }
}

.footer-contact {
  .adress {
    display: block;
    margin-bottom: 8px;
    margin-top: 0px;

    font-size: 14px;
    line-height: 1.71;

    color: $background-color;
  }
  .mail {
    display: block;
    margin-bottom: 8px;
    margin-top: 0px;

    font-size: 14px;
    line-height: 1.71;

    color: $footer-navigation-color;
  }
  .phone {
    display: block;
    margin-bottom: 60px;
    margin-top: 0px;

    font-size: 14px;
    line-height: 1.71;

    color: $footer-navigation-color;
  }
}

.social-icon {
  display: flex;
  justify-content: center;

  margin-bottom: 60px;

  > .footer-icon {
    margin-right: 10px;
  }
  > .footer-icon:last-child {
    margin-right: 0px;
  }
}

.footer-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  fill: $background-color;
  background-color: rgba(255, 255, 255, 0.1);

  transition: fill 250ms $cubic-bezier, background-color 250ms $cubic-bezier;
  &:hover,
  &:focus {
    fill: $background-color;
    background-color: $accent-color;
  }
}

.footer {
  text-align: center;
  .title {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 0px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: $background-color;
  }
  &-button {
    margin-bottom: 60px;
    padding: 10px 32px;
    border-radius: 4px;
    border: 0px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;

    color: $background-color;
    background-color: $accent-color;
  }
  &-form {
    margin: 0;
    padding: 0;

    text-align: center;
  }
  &-input {
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    padding-right: 0;

    box-sizing: border-box;
    width: 450px;
    height: 50px;

    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);

    font-size: 16px;
    line-height: 1.25;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    color: $footer-navigation-color;
    background-color: $footer-color;
  }
  &-mail {
    margin-left: 10px;
    fill: $background-color;
  }
}
