@import "../utils/variables";

.logo {
  display: block;

  font-family: $font-logo;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;

  color: $primary-text-color;

  transition: color 250ms $cubic-bezier;
  .accent {
    color: $accent-color;
  }
  &:focus {
    color: $accent-color;
  }
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.footer-logo {
  display: block;

  font-family: $font-logo;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;

  color: $background-color;

  transition: color 250ms $cubic-bezier;
  .accent {
    color: $accent-color;
  }
  &:focus {
    color: $accent-color;
  }
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}
