@import "../utils/variables";

.filter-button {
  display: flex;
  flex-wrap: wrap;

  padding-top: 60px;
  padding-bottom: 40px;
  margin-left: -8px;
  margin-bottom: -15px;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 93px;
    padding-bottom: 50px;
  }
  .item {
    margin-left: 8px;
    margin-bottom: 15px;
  }
}

.button-portfolio {
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  border: 0px;
  border-radius: 4px;

  transition: color 250ms $cubic-bezier, background-color 250ms $cubic-bezier;

  color: $primary-text-color;
  background-color: $secondary-background-color;

  &:last-child {
    margin-right: 0px;
  }
  &:hover,
  &:focus {
    color: $background-color;
    background-color: $accent-color;
  }
}
