@import "../utils/variables";

.section.our {
  background-color: $secondary-background-color;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;

    margin-bottom: 30px;
  }

  .section-heading {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 30px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }
  .section-headline {
    margin-top: 0px;
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    color: $secondary-text-color;
  }
}

.team {
  // display: flex;
  .card {
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
.team-cards {
  padding-top: 30px;
  padding-bottom: 24px;

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  background-color: $background-color;
}

.team-social {
  display: flex;
  justify-content: center;
  & .team-link {
    margin-right: 10px;
  }
}

.social-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  fill: $icon-color;
  background-color: $background-color;

  transition: fill 250ms $cubic-bezier, background-color 250ms $cubic-bezier;
  &:hover,
  &:focus {
    fill: $background-color;
    background-color: $accent-color;
  }
}

@media screen and (max-width: 767px) {
  .card:not(:nth-last-child(-n + 1)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }
  .card {
    width: 354px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    width: 270px;
  }
}
